<div class="card primary">
	<h1>Add A Note</h1>
</div>
<div class="row">
	<div class="col-lg-offset-1 col-md-10 col-sm-12">
		<div class="card">
			<div class="card-body">
				<form class="form" ng-submit=addNote(note)>
					<div class="form-group">
						<input type="text" class="form-control" id="regular1" ng-model="note.title">
						<label for="regular1">Title</label>
					</div>
					<div class="form-group">
						<textarea name="textarea1" id="textarea1" class="form-control" rows="3" placeholder="" ng-model="note.note"></textarea>
						<label for="textarea1">Note</label>
					</div>
					<div class="text-right">
						<button type="submit" class="btn ink-reaction btn-floating-action btn-lg btn-primary"><i class="md md-add"></i></button>
					</div>
				</form>
			</div><!--end .card-body -->
		</div><!--end .card -->
	</div><!--end .col -->
</div><!--end .row -->