{{question.id +1}}.
{{question.details.instruction}}<br>
<h1>{{question.details.question}}</h1><br>
<label>
    <input type="radio"  ng-model="answer" value="{{question.details.options.opt1}}">
    {{question.details.options.opt1}}
 </label><br/>
<label>
    <input type="radio"  ng-model="answer" value="{{question.details.options.opt2}}">
    {{question.details.options.opt2}}
 </label><br/>
<label>
    <input type="radio"  ng-model="answer" value="{{question.details.options.opt3}}">
    {{question.details.options.opt3}}
 </label><br/>
<label>
    <input type="radio"  ng-model="answer" value="{{question.details.options.opt4}}">
    {{question.details.options.opt4}}
 </label><br/>
<!-- {{question.details.options.opt1}}<br>
{{question.details.options.opt2}}<br>
{{question.details.options.opt3}}<br>
{{question.details.options.opt4}}<br> -->


<a href="#/question/{{question.id + 1}}" ng-show="showNext"><button class="btn btn-raised btn-primary right">Next</button></a>
<a href="#/question/{{question.id - 1}}" ng-show="showPrevious"><button class="btn btn-raised btn-primary right">Previous</button></a>
<a href="" ng-show="showSubmit"><button class="btn btn-raised btn-primary right">Submit</button></a>
