<div class="card">
	<h1>View/Manage</h1>
	<div class="pull-right">
		<button type="submit" class="btn ink-reaction btn-lg btn-primary" ng-click="viewNote()">Refresh</button>
	</div>
</div>
<div class="row" ng-hide="showEdit">
	<div class="col-lg-offset-1 col-md-10 col-sm-12">
		<div class="panel-group" id="accordion1">
			<div class="card panel" ng-repeat="note in notes">
				<div class="card-head collapsed" data-toggle="collapse" data-parent="#accordion{{note._id}}" data-target="#accordion{{note._id}}-{{note._id}}">
					<header>{{note.title}}</header>
					
					<div class="tools">
						<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
					</div>
					<div class="pull-right">
						<button type="button" class="btn ink-reaction btn-floating-action btn-sm btn-success" ng-click="edit(note)"><i class="md md-mode-edit"></i></button>
						<button type="button" class="btn ink-reaction btn-floating-action btn-sm btn-danger" ng-click="delete(note._id)"><i class="md md-delete"></i></button>
					</div>
				</div>
				<div id="accordion{{note._id}}-{{note._id}}" class="collapse">
					<div class="card-body"><p>{{note.note}}</p>
					</div>
				</div>
			</div><!--end .panel -->
			</div>
	</div><!--end .panel -->
</div>

<div class="row" ng-show="showEdit">
	<div class="col-lg-offset-1 col-md-10 col-sm-12">
		<div class="card">
			<div class="card-body">
				<form class="form">
					<div class="form-group">
						<input type="text" class="form-control" id="regular1" ng-model="Rnote.title">
						<label for="regular1">Title</label>
					</div>
					<div class="form-group">
						<textarea name="textarea1" id="textarea1" class="form-control" rows="3" placeholder="" ng-model="Rnote.note"></textarea>
						<label for="textarea1">Note</label>
					</div>
					<div class="text-right">
						<button type="button" class="btn ink-reaction  btn-lg btn-primary" ng-click="cancel()">Cancel</button>
						<button type="button" class="btn ink-reaction  btn-lg btn-primary" ng-click="save(Rnote)">Save</button>
					</div>
				</form>
			</div><!--end .card-body -->
		</div><!--end .card -->
	</div><!--end .col -->
</div><!--end .row -->


