


<!-- BEGIN MENUBAR-->
			<div id="menubar" class="menubar-inverse ">
				<div class="menubar-fixed-panel">
					<div class="expanded">
						<a href="../../html/dashboards/dashboard.html">
							<span class="text-lg text-bold text-primary ">YemoPad</span>
						</a>
					</div>
				</div>
				<div class="menubar-scroll-panel">

					<!-- BEGIN MAIN MENU -->
					<ul id="main-menu" class="gui-controls">
						<!-- BEGIN DASHBOARD -->
						<li>
							<a href="#/dash" class="active">
								<div class="gui-icon"><i class="md md-home"></i></div>
								<span class="title">Dashboard</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DASHBOARD -->
						<!-- BEGIN DASHBOARD -->
						<li>
							<a href="#/add" >
								<div class="gui-icon"><i class="md md-add"></i></div>
								<span class="title">Add</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DASHBOARD -->
						<!-- BEGIN DASHBOARD -->
						<li>
							<a href="#/view" >
								<div class="gui-icon"><i class="md md-web"></i></div>
								<span class="title">View</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DASHBOARD -->
						<!-- BEGIN DASHBOARD -->
						<li>
							<a href="#/settings" >
								<div class="gui-icon"><i class="md md-settings"></i></div>
								<span class="title">Settings</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DASHBOARD -->
						<!-- BEGIN DASHBOARD -->
						<li>
							<a href="#/lock" >
								<div class="gui-icon"><i class="md md-lock"></i></div>
								<span class="title">Lock</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DASHBOARD -->

					</ul><!--end .main-menu -->
					<!-- END MAIN MENU -->
					<hr>

					<div class="menubar-foot-panel">
						<small class="no-linebreak hidden-folded">
							<span class="opacity-75">Copyright &copy; 2016</span> <strong>Yemo Corps</strong>
						</small>
					</div>
				</div><!--end .menubar-scroll-panel-->
			</div><!--end #menubar-->
			<!-- END MENUBAR -->